.main {
  background: linear-gradient(
    90deg,
    rgb(122, 157, 84) 0%,
    rgb(214, 247, 187) 35%,
    rgb(218, 248, 148) 65%,
    rgb(242, 238, 157) 100%
  );

 /*  background-image: url("/client/public/Assets/Images/Fighter.png"); */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
};