* {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: green;
}

.game-container {
    position: relative;
    width: 176px;
    height: 95px;
    outline: 1px solid #ffff;
    margin: 0 auto;
    margin-top: 20px;

    transform: scale(3) translateY(50%);
    
}

.game-container canvas {
    image-rendering: pixelated;
}