.auth-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vh;
    padding: 20px;
    background-color: #f3f3f3;
  }
  
  .stack {
    display: flex;
    flex-direction: column;
    margin: 9px 0;
  }
  
  label {
    margin-bottom: 4px;
  }
  
  input {
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  a {
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }


  